.color-D5DC3D { background-color: #D5DC3D; }
.color-D3818B { background-color: #D3818B; }
.color-ED4C28 { background-color: #ED4C28; }
.color-FEE64B { background-color: #FEE64B; }
.color-AFD1DA { background-color: #AFD1DA; }
.color-FDC98D { background-color: #FDC98D; }
.color-52E337 { background-color: #52E337; }
.color-EA3E2E { background-color: #EA3E2E; }
.color-F59BF4 { background-color: #F59BF4; }
.color-E2464A { background-color: #E2464A; }
.color-F4B57D { background-color: #F4B57D; }
.color-C697E1 { background-color: #C697E1; }
.color-DEFAFB { background-color: #DEFAFB; }
.color-DCCAFF { background-color: #DCCAFF; }
.color-F79CEF { background-color: #F79CEF; }
.color-BEFF9C { background-color: #BEFF9C; }
.color-F0F06F { background-color: #F0F06F; }
.color-8A68A5 { background-color: #8A68A5; }
.color-7BF31C { background-color: #7BF31C; }
.color-ED84C0 { background-color: #ED84C0; }
.color-EC1FE8 { background-color: #EC1FE8; }
.color-F790B1 { background-color: #F790B1; }
.color-FAE500 { background-color: #FAE500; }
.color-E8DC29 { background-color: #E8DC29; }
.color-FAFA67 { background-color: #FAFA67; }
.color-8EEF8D { background-color: #8EEF8D; }
.color-F47601 { background-color: #F47601; }
.color-F3CF2C { background-color: #F3CF2C; }
.color-29E583 { background-color: #29E583; }
.color-C9C3EF { background-color: #C9C3EF; }
.color-B6C523 { background-color: #B6C523; }
.color-259E6F { background-color: #259E6F; }
.color-89E072 { background-color: #89E072; }
.color-94CB03 { background-color: #94CB03; }
.color-E99655 { background-color: #E99655; }
.color-F5D797 { background-color: #F5D797; }
.color-F2E7BF { background-color: #F2E7BF; }
.color-D6E2D2 { background-color: #D6E2D2; }
.color-128C5A { background-color: #128C5A; }
.color-FFB7FC { background-color: #FFB7FC; }
.color-FD9205 { background-color: #FD9205; }
.color-FF8847 { background-color: #FF8847; }
.color-F3FC92 { background-color: #F3FC92; }
.color-5CE75B { background-color: #5CE75B; }
.color-F9F23B { background-color: #F9F23B; }
.color-825AF5 { background-color: #825AF5; }
.color-37B44E { background-color: #37B44E; }
.color-A1D4EA { background-color: #A1D4EA; }
.color-46EB06 { background-color: #46EB06; }
.color-CD6C05 { background-color: #CD6C05; }
.color-85D99E { background-color: #85D99E; }
.color-81EE73 { background-color: #81EE73; }
.color-41D4A4 { background-color: #41D4A4; }
